*{
  margin: 0;
  padding: 0;
}
body {
  padding: 29px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(19, 20, 23, 1) 70%, rgba(88, 47, 255, 0.6) 100%);
}

.white{
  color: white;
}

.gray{
  color: #B5B5B5;
}

.button{
  background: none;
}

.temporizador{
  width: 100%;
}

.navbar{
  width: 100%;
  background-color: #1D1F24;
}